<template>
  <div @click="hideDialog" class="flex flex-col items-center">
    <initialize-comp> </initialize-comp>
    <header
      class="sticky top-0 z-8 w-full text-lg font-bold bg-gray-200 py-2 px-2"
    >
      <div class="max_width relative mx-auto px-4">揪時間 - 聚會日期統計</div>
    </header>
    <main class="max_width relative p-4">
      <div class="text-2xl text-primary-heavy font-bold mb-2">
        {{ actName }}
      </div>
      <div class="my-2">
        <span class="text-primary-heavy font-semibold">活動描述：</span
        >{{ actDesc }}
      </div>
      <div class="my-2">
        <span class="text-primary-heavy font-semibold">統計截止時間：</span
        >{{ actDeadline
        }}<span v-if="restTimeText">（{{ restTimeText }}）</span>
      </div>

      <!-- 投票狀況 -->
      <div class="my-4">
        <div class="flex items-end justify-between px-2">
          <div class="flex items-end">
            <cb-radio v-model="selectedTab" value="list">
              <div
                class="
                  text-sm text-gray-400
                  border border-b-transparent
                  rounded-t
                  py-1
                  px-4
                  cursor-pointer
                  hover:text-primary-heavy
                  peer-checked:(text-primary
                  text-base
                  font-bold)
                "
              >
                列表
              </div>
            </cb-radio>
            <cb-radio v-model="selectedTab" value="table">
              <div
                class="
                  text-sm text-gray-400
                  border border-b-transparent
                  rounded-t
                  py-1
                  px-4
                  cursor-pointer
                  hover:text-primary-heavy
                  peer-checked:(text-primary
                  text-base
                  font-bold)
                "
              >
                表格
              </div>
            </cb-radio>
          </div>
          <div
            v-show="selectedTab === 'list'"
            class="text-sm text-gray-500 py-1 flex items-center gap-1"
          >
            <InformationCircleIcon class="w-3 h-3"></InformationCircleIcon>
            點擊選項可查看投票詳情
          </div>
        </div>

        <!-- list -->
        <div v-show="selectedTab === 'list'">
          <div
            class="border rounded"
            :class="{ 'opacity-50': !voteResult.nPeoPle }"
          >
            <div class="text-white bg-primary py-2 px-4 rounded-t">
              目前投票狀況 - 總投票人數 {{ voteResult.nPeoPle }} 人
            </div>

            <div
              class="
                max-h-80
                p-4
                flex flex-col
                gap-2
                overflow-scroll
                scrollbar-hidden
              "
            >
              <template v-if="voteResult.dateChoices?.length">
                <template
                  v-for="(dateChoice, idx) in voteResult.dateChoices"
                  :key="idx"
                >
                  <div
                    class="relative border rounded py-2 px-4 flex"
                    @click.stop="
                      (e) =>
                        showDialog(e, dateChoice.detail, dateChoice.dateText)
                    "
                    @mouseenter="
                      (e) =>
                        showDialog(e, dateChoice.detail, dateChoice.dateText)
                    "
                    @mouseleave="hideDialog"
                  >
                    <!-- 百分比條 -->
                    <div
                      v-show="dateChoice.votes > 0"
                      class="
                        absolute
                        inset-0
                        z-0
                        bg-primary-light
                        pointer-events-none
                      "
                      :style="
                        'width: ' +
                        (dateChoice.votes / voteResult.nPeoPle) * 100 +
                        '%'
                      "
                    ></div>
                    <!-- 候選 block -->
                    <div
                      class="
                        z-1
                        w-full
                        flex
                        justify-between
                        pointer-events-none
                      "
                    >
                      <div class="font-semibold">
                        {{ dateChoice.dateText }}
                      </div>
                      {{ dateChoice.votes }} 票
                    </div>
                  </div>
                </template>
              </template>
              <div v-else class="text-gray-400 text-center">
                目前尚無日期候選
              </div>
            </div>
          </div>

          <div class="text-sm text-gray-400 py-1">
            <div>
              「有空」以 1 票計，「可能有空」以 0.5 票計，「沒空」和未填寫都以 0
              票計。
            </div>
          </div>
        </div>

        <!-- table -->
        <div v-show="selectedTab === 'table'">
          <div
            class="border rounded max-h-362px overflow-scroll scrollbar-hidden"
            :class="{ 'opacity-50': !voteResult.nPeoPle }"
          >
            <table class="w-full">
              <thead class="sticky top-0 border-b bg-white">
                <th class="border-r"></th>
                <th
                  v-for="(response, idx) in actResponses"
                  :key="idx"
                  class="py-1 px-2 whitespace-nowrap not-last:border-r"
                >
                  {{ response.username }}
                </th>
              </thead>
              <tbody>
                <tr
                  v-for="(dateChoice, dateIdx) in voteResult.dateChoices"
                  :key="dateIdx"
                  class="not-last:border-b"
                >
                  <td
                    class="
                      sticky
                      left-0
                      bg-white
                      text-sm text-center
                      py-1
                      px-2
                      border-r
                    "
                  >
                    {{ dateChoice.dateText }}
                  </td>
                  <td
                    v-for="(response, voteIdx) in actResponses"
                    :key="voteIdx"
                    class="h-4 not-last:border-r"
                    :class="
                      getCalendarStyle(response.content[dateChoice.dateKey])
                    "
                  ></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="flex items-center gap-4 my-2">
            <div class="flex items-center gap-2">
              <div class="w-6 h-5 border"></div>
              <div>未填</div>
            </div>
            <div class="flex items-center gap-2">
              <div class="w-6 h-5 bg-free-100"></div>
              <div>有空</div>
            </div>
            <div class="flex items-center gap-2">
              <div class="w-6 h-5 bg-maybe-100"></div>
              <div>可能有空</div>
            </div>
            <div class="flex items-center gap-2">
              <div class="w-6 h-5 bg-occupied-100"></div>
              <div>沒空</div>
            </div>
            <div class="flex items-center gap-2">
              <div class="w-6 h-5 bg-gray-100"></div>
              <div>不可選</div>
            </div>
          </div>
        </div>
      </div>

      <template v-if="userVoteReview">
        <div class="relative border rounded pt-2 pb-8 px-4">
          <div class="font-bold my-2">你的回覆（名稱：{{ username }}）</div>
          <div
            v-for="(dateTextList, state) in userVoteReview"
            :key="state"
            class="my-1"
          >
            {{ state }}：{{ dateTextList.join(', ') }}
          </div>
          <button
            class="
              btn_primary--line
              absolute
              top-0
              right-0
              m-2
              flex
              items-center
              gap-2
            "
            :disabled="isExpired"
            @click="goVote"
          >
            <PencilIcon class="w-4 h-4"></PencilIcon>
          </button>
          <div
            class="
              absolute
              bottom-0
              right-0
              text-sm text-gray-300
              m-2
              flex
              gap-2
            "
          >
            紀錄 ID: <copy-block :content="resId"></copy-block>
          </div>
        </div>
      </template>
      <div v-else class="flex justify-center mt-8">
        <button
          class="btn_accent group px-12 flex items-center gap-2"
          :disabled="isExpired"
          @click="goVote"
        >
          <div>進入投票頁面</div>
          <ArrowRightIcon
            class="
              w-5
              h-5
              transform
              translate-x-0
              group-hover:translate-x-1
              transition-transform
              ease-in-out
              duration-200
            "
          ></ArrowRightIcon>
        </button>
      </div>
    </main>

    <!-- dialog box -->
    <div
      id="dialog"
      v-if="dialogObj && voteResult.nPeoPle"
      class="dialog_box z-8"
      :style="[
        `left: ${dialogObj.position?.x}px`,
        `top: ${dialogObj.position?.y}px`,
      ]"
    >
      <div class="font-bold">{{ dialogObj.dateText }}</div>
      <div
        v-for="(voters, state) in dialogObj.votesDetail"
        :key="state"
        class="my-1"
      >
        {{ state }}：{{ voters.join(', ') }}
      </div>
    </div>
  </div>
</template>

<script>
import { computed, inject, nextTick, ref } from '@vue/runtime-core'
import { useRoute, useRouter } from 'vue-router'
import CopyBlock from '../components/CopyBlock.vue'
import InitializeComp from '../components/InitializeComp.vue'

import {
  PencilIcon,
  ArrowRightIcon,
  InformationCircleIcon,
} from '@heroicons/vue/outline'
import dayjs from 'dayjs'
import duration from 'dayjs/plugin/duration'
dayjs.extend(duration)

export default {
  components: {
    PencilIcon,
    ArrowRightIcon,
    InformationCircleIcon,
    CopyBlock,
    InitializeComp,
  },

  setup() {
    const route = useRoute()
    const router = useRouter()
    const actId = route.query?.actId

    const ActivityStore = inject('ActivityStore')
    const UserStore = inject('UserStore')
    const resId = computed(() => UserStore.state.resId)

    const toChWeek = (day) => {
      switch (day) {
        case 0:
          return '日'
        case 1:
          return '一'
        case 2:
          return '二'
        case 3:
          return '三'
        case 4:
          return '四'
        case 5:
          return '五'
        case 6:
          return '六'
      }
    }

    const actName = computed(() => ActivityStore.state.actInfo?.name)
    const actDesc = computed(() => ActivityStore.state.actInfo?.description)
    const actDeadline = computed(() => {
      if (ActivityStore.state.actInfo?.deadline) {
        let date = dayjs(ActivityStore.state.actInfo?.deadline)
        return date.format('MM-DD' + ` (${toChWeek(date.day())})` + ' HH:mm')
      } else {
        return '--'
      }
    })
    const actResponses = computed(() => ActivityStore.state.actResponses)
    const dateProposals = computed(
      () => ActivityStore.state.actInfo?.dateProposals
    )
    const voteResult = computed(() => {
      let dateChoices = []
      let nPeoPle = 0

      let votesInfo = {}
      if (dateProposals.value?.length) {
        for (let dateKey of dateProposals.value) {
          votesInfo[dateKey] = {
            votes: 0,
            detail: {
              有空: [],
              可能: [],
              沒空: [],
            },
          }
        }
      }

      if (actResponses.value?.length) {
        for (let actRes of actResponses.value) {
          nPeoPle += 1
          for (let [dateKey, stateScore] of Object.entries(actRes.content)) {
            if (!votesInfo[dateKey]) {
              votesInfo[dateKey] = {
                votes: 0,
                detail: {
                  有空: [],
                  可能: [],
                  沒空: [],
                },
              }
            }
            votesInfo[dateKey].votes += stateScore / 2

            if (stateScore === 0) {
              votesInfo[dateKey].detail['沒空'].push(actRes.username)
            } else if (stateScore === 1) {
              votesInfo[dateKey].detail['可能'].push(actRes.username)
            } else if (stateScore === 2) {
              votesInfo[dateKey].detail['有空'].push(actRes.username)
            }
          }
        }
      }
      for (let [dateKey, info] of Object.entries(votesInfo)) {
        let date = dayjs(dateKey, 'YYYYMMDD')
        dateChoices.push({
          dateKey,
          dateText: `${date.format('MM/DD')} (${toChWeek(date.day())})`,
          votes: info.votes,
          detail: info.detail,
        })
      }
      // 由大至小排列
      dateChoices.sort((a, b) => b.votes - a.votes)

      return {
        dateChoices,
        nPeoPle,
      }
    })

    const username = computed(() => UserStore.state.response.username)
    const userVoteReview = computed(() => {
      let response = UserStore.state.response
      if (!response) return

      let userRes = {
        有空: [],
        可能: [],
        沒空: [],
      }
      for (let [dateKey, stateScore] of Object.entries(response.content)) {
        let dateText = dayjs(dateKey, 'YYYYMMDD').format('MM/DD')
        if (stateScore === 0) {
          userRes['沒空'].push(dateText)
        } else if (stateScore === 1) {
          userRes['可能'].push(dateText)
        } else if (stateScore === 2) {
          userRes['有空'].push(dateText)
        }
      }
      return userRes
    })
    const goVote = () => {
      router.push({ name: 'Vote', query: { actId: actId } })
    }

    const dialogObj = ref(null)
    const showDialog = (e, detail, dateText) => {
      let targetBlock = e.target
      dialogObj.value = {
        dateText,
        votesDetail: detail,
        position: {
          x: (targetBlock.offsetLeft + targetBlock.offsetRight) / 2,
          y: targetBlock.offsetTop - targetBlock.parentNode.scrollTop,
        },
      }
    }
    const hideDialog = () => {
      if (dialogObj.value) {
        nextTick(() => {
          dialogObj.value = null
        })
      }
    }

    const restTimeText = computed(() => {
      if (ActivityStore.state.restTime === undefined) {
        return '載入中'
      } else if (ActivityStore.state.restTime === null) {
        return ''
      }

      let restDuration = dayjs.duration(ActivityStore.state.restTime)
      let _text = ''

      if (restDuration.asMilliseconds() < 0) {
        _text = '已截止'
      } else if (Math.floor(restDuration.asHours()) < 1) {
        _text = '剩餘不到 1 小時'
      } else if (Math.floor(restDuration.asDays()) < 1) {
        _text = `剩餘 ${Math.floor(restDuration.asHours())} 小時`
      } else {
        _text = `剩餘 ${Math.floor(restDuration.asDays())} 天`
      }

      return _text
    })
    const isExpired = computed(() => ActivityStore.state.restTime < 0)

    const getCalendarStyle = (state) => {
      switch (state) {
        case 2:
          return 'bg-free-100'
        case 1:
          return 'bg-maybe-100'
        case 0:
          return 'bg-occupied-100'
        default:
          return 'bg-transparent'
      }
    }

    return {
      actName,
      actDesc,
      actDeadline,
      voteResult,
      goVote,
      resId,
      username,
      userVoteReview,
      showDialog,
      hideDialog,
      dialogObj,
      restTimeText,
      isExpired,
      selectedTab: ref('list'),
      actResponses,
      dateProposals,
      getCalendarStyle,
    }
  },
}
</script>

<style lang="postcss" scoped>
.dialog_box {
  @apply absolute transform -translate-y-1/2 py-1 px-2 text-sm bg-gray-50 shadow-lg rounded pointer-events-none;

  &::after {
    content: '';
    @apply absolute top-full horizontal_center;
    @apply border-10 border-transparent border-t-gray-50;
  }
}
</style>
