<template>
  <div class="flex flex-col items-center">
    <header
      class="sticky top-0 z-1 w-full text-lg font-bold bg-gray-200 py-2 px-2"
    >
      <div class="max_width relative mx-auto">
        <div class="absolute left-0 vertical_center flex">
          <ChevronLeftIcon
            class="w-11 h-9 mx-2 px-2 cursor-pointer hover:text-gray-400"
            @click="goBack(true)"
          ></ChevronLeftIcon>
        </div>
        <div class="text-xl text-center font-bold">
          <slot> 新增活動 </slot>
        </div>
      </div>
    </header>

    <main class="max_width relative p-4">
      <div class="mb-1 font-semibold">
        活動名稱<span class="text-red-600 ml-1">*</span>
      </div>
      <input
        type="text"
        class="input--base w-full"
        :class="{ warning: nameWarning }"
        v-model="actName"
        @change="hasEdited = true"
      />
      <div class="my-1 font-semibold">活動描述</div>
      <textarea
        class="input--base w-full"
        :class="{ warning: descWarning }"
        v-model="actDesc"
        @change="hasEdited = true"
      />
      <div class="my-1 font-semibold">投票截止日期</div>
      <input
        type="datetime-local"
        class="input--base w-full"
        :class="{ warning: dealineWarning }"
        v-model="actDeadline"
        @change="hasEdited = true"
      />
      <div class="my-1 font-semibold">日期選項</div>
      <ju-calendar :getDateStyle="getDateStyle" @clickDate="clickDate">
      </ju-calendar>

      <div class="flex justify-end mt-8 mb-10">
        <button
          class="btn_accent group px-12 flex items-center gap-2"
          @click="submit"
        >
          <div>儲存送出</div>
          <CheckIcon
            class="
              w-5
              h-5
              transform
              translate-x-0
              group-hover:translate-x-1
              transition-transform
              ease-in-out
              duration-200
            "
          ></CheckIcon>
        </button>
      </div>
    </main>
  </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import {
  ChevronLeftIcon,
  CheckIcon,
  CalendarIcon,
} from '@heroicons/vue/outline'
import JuCalendar from '../components/JuCalendar.vue'
import { inject, watch } from '@vue/runtime-core'
import { cb_alert } from '../libs/cb-theme'
import { useRouter } from 'vue-router'

export default {
  components: {
    ChevronLeftIcon,
    CheckIcon,
    CalendarIcon,
    JuCalendar,
  },

  setup() {
    const hasEdited = ref(false)

    const goBack = (check_required) => {
      if (check_required && hasEdited.value) {
        cb_confirm('確定不儲存嗎？')
          .then(() => {
            router.push({ name: 'Home' })
          })
          .catch(() => {})
      } else {
        router.push({ name: 'Home' })
      }
    }

    const actName = ref('')
    const actDesc = ref('')
    const actDeadline = ref('')
    const actDateProposals = ref([])

    const nameWarning = ref(false)
    watch(actName, () => {
      nameWarning.value = false
    })
    const descWarning = ref(false)
    watch(actDesc, () => {
      descWarning.value = false
    })
    const dealineWarning = ref(false)
    watch(actDeadline, () => {
      dealineWarning.value = false
    })

    const clickDate = (dateInfo) => {
      let _list = [...actDateProposals.value]
      let idx = _list.findIndex((dk) => dk === dateInfo.key)
      if (idx >= 0) {
        _list.splice(idx, 1)
      } else {
        _list.push(dateInfo.key)
      }
      _list.sort()
      actDateProposals.value = _list
    }

    const getDateStyle = (dateInfo) => {
      if (actDateProposals.value.includes(dateInfo.key)) {
        return 'children:(text-white bg-primary)'
      }
    }

    const ActivityStore = inject('ActivityStore')
    const router = useRouter()
    const submit = () => {
      let name = actName.value
      if (name == null && name === '') {
        cb_alert('請輸入活動名稱')
        nameWarning.value = true
        return
      }

      let deadline = null
      if (actDeadline.value != null && actDeadline.value !== '') {
        deadline = new Date(actDeadline.value)
        if (isNaN(deadline)) {
          cb_alert('無效的日期格式')
          dealineWarning.value = true
          return
        }
      }
      ActivityStore.createActivity({
        name,
        description: actDesc.value,
        deadline,
        dateProposals: actDateProposals.value,
      }).then((actId) => {
        router.push({ name: 'ActivityHome', query: { actId } })
      })
    }

    return {
      nameWarning,
      descWarning,
      dealineWarning,
      hasEdited,
      goBack,
      actName,
      actDesc,
      actDeadline,
      actDateProposals,
      clickDate,
      getDateStyle,
      submit,
    }
  },
}
</script>

<style></style>
