<template>
  <div>
    <button class="btn_normal" @click="tmp">新增</button>
  </div>
</template>

<script>
import { collection, addDoc } from 'firebase/firestore'
import db from '../connection/firebase'
import dayjs from 'dayjs'

export default {
  setup() {
    const tmp = async () => {
      let proposals = []
      for (
        let date = dayjs(new Date(2022, 3, 29));
        date.isBefore(dayjs(new Date(2022, 6, 28)));
        date = date.add(1, 'day')
      ) {
        if (
          (date.day() === 0 || date.day() === 6) &&
          date.format('MMDD') !== '0611' &&
          date.format('MMDD') !== '0612'
        ) {
          proposals.push(date.format('YYYYMMDD'))
        }
      }
      const docRef = await addDoc(collection(db, 'activities'), {
        dateProposals: proposals,
        deadline: new Date(2022, 3, 16, 12),
        name: '307 同學會 - 七年之約',
        description:
          '當天 15:00 約在桃高附近。時間選項為四月底到七月中的週末假日，最後會選離 6/10 最近的日期。',
      })
      console.log('docRef.id', docRef.id)
    }
    return {
      tmp,
    }
  },
}
</script>

<style></style>
