<template>
  <div class="flex flex-col items-center">
    <header
      class="sticky top-0 z-8 w-full text-lg font-bold bg-gray-200 py-2 px-2"
    >
      <div class="max_width relative mx-auto px-4">揪時間 - 聚會日期統計</div>
    </header>
    <main class="max_width relative p-4 flex">
      <button
        class="btn_primary mx-auto"
        @click="$router.push({ name: 'ActivityCreate' })"
      >
        新增活動
      </button>
    </main>
  </div>
</template>

<script>
export default {
  setup() {},
}
</script>

<style></style>
