<template></template>

<script>
import { cb_alert } from '../libs/cb-theme'

export default {
  setup() {
    cb_alert({
      title: '錯誤',
      content: '沒有此項活動，請重新確認連結',
    })
  },
}
</script>

<style></style>
