<template>
  <div class="flex flex-col items-center">
    <initialize-comp> </initialize-comp>
    <header
      class="sticky top-0 z-1 w-full text-lg font-bold bg-gray-200 py-2 px-2"
    >
      <div class="max_width relative mx-auto">
        <div class="absolute left-0 vertical_center flex">
          <ChevronLeftIcon
            class="w-11 h-9 mx-2 px-2 cursor-pointer hover:text-gray-400"
            @click="goBack(true)"
          ></ChevronLeftIcon>
        </div>
        <div class="text-xl text-center font-bold">
          <slot> 填寫時間 </slot>
        </div>
        <div class="absolute right-0 vertical_center flex">
          <DotsVerticalIcon
            class="w-11 h-9 mx-2 px-2 cursor-pointer hover:text-gray-400"
            @click="menuVis = !menuVis"
          ></DotsVerticalIcon>
          <div
            v-show="menuVis"
            class="absolute top-full right-2 bg-white rounded shadow-md"
          >
            <div
              class="
                text-base
                font-normal
                py-2
                px-4
                whitespace-nowrap
                cursor-pointer
                hover:bg-gray-100
              "
              @click="importVis = true"
            >
              匯入投票紀錄
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="max_width relative p-4">
      <div class="mb-1 font-semibold">你的名稱</div>
      <input
        type="text"
        class="input--base w-full"
        :class="{ warning: nameWarning }"
        placeholder="請填真實姓名以免大家認不出來 :)"
        v-model="username"
        @change="hasEdited = true"
      />

      <!-- preview -->
      <div class="mt-4 mb-1 font-semibold">投票預覽</div>
      <div class="relative border rounded py-2 px-4" :class="{ 'pb-8': resId }">
        <div class="w-full h-full overflow-x-scroll scrollbar-hidden">
          <div
            v-for="(dateTextList, state) in userVotePreview"
            :key="state"
            class="my-1 whitespace-nowrap"
          >
            <span class="font-bold">{{ state }}</span
            >：<span>
              {{ dateTextList.join(', ') }}
            </span>
          </div>
        </div>
        <div
          v-if="resId"
          class="absolute bottom-0 right-0 text-sm text-gray-300 m-2 flex gap-2"
        >
          紀錄 ID: <copy-block :content="resId"></copy-block>
        </div>
      </div>

      <!-- calendar -->
      <vote-calendar
        v-if="dateProposals != null"
        ref="calendarRef"
        :enabledDates="dateProposals"
        v-model:record="userResonseContent"
        @change="hasEdited = true"
      ></vote-calendar>

      <!-- legend -->
      <div class="flex items-center gap-4">
        <div class="flex items-center gap-2">
          <div class="w-6 h-5 border"></div>
          <div>未填</div>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-6 h-5 bg-free-100"></div>
          <div>有空</div>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-6 h-5 bg-maybe-100"></div>
          <div>可能有空</div>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-6 h-5 bg-occupied-100"></div>
          <div>沒空</div>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-6 h-5 bg-gray-100"></div>
          <div>不可選</div>
        </div>
      </div>
      <div class="text-gray-400 mt-2 mb-8">
        「有空」以 1 票計，「可能有空」以 0.5 票計，「沒空」和未填寫都以 0
        票計。
        <br />
        投票後還可以編輯投票紀錄，但僅限在同一瀏覽器編輯。若需要跨瀏覽器編輯，請使用右上角的匯入紀錄功能。
      </div>

      <hr />

      <div class="flex justify-end mt-8 mb-32">
        <button
          class="btn_accent group px-12 flex items-center gap-2"
          :disabled="isExpired"
          @click="submit"
        >
          <div>儲存送出</div>
          <CheckIcon
            class="
              w-5
              h-5
              transform
              translate-x-0
              group-hover:translate-x-1
              transition-transform
              ease-in-out
              duration-200
            "
          ></CheckIcon>
        </button>
      </div>
    </main>
    <cb-modal
      v-model:visible="importVis"
      title="匯入投票紀錄"
      cancel_btn_required
      @confirm="submitImport"
    >
      <div class="px-4">
        <div class="text-sm text-gray-400 mb-2">
          若你需要跨瀏覽器編輯自己的投票紀錄，請從原本瀏覽器的紀錄右下角找到紀錄
          ID，並在此輸入。
          <br />
          注意：送出後將會覆蓋目前紀錄。
        </div>
        <input
          ref="resIdInput"
          type="text"
          class="input--base w-full"
          placeholder="輸入紀錄 ID"
          v-model="inputResId"
        />
      </div>
    </cb-modal>
  </div>
</template>

<script>
import VoteCalendar from '../components/VoteCalendar.vue'
import CopyBlock from '../components/CopyBlock.vue'
import InitializeComp from '../components/InitializeComp.vue'

import {
  ChevronLeftIcon,
  CheckIcon,
  DotsVerticalIcon,
} from '@heroicons/vue/outline'
import { useRoute, useRouter } from 'vue-router'
import { computed, ref } from '@vue/reactivity'
import { cb_alert, cb_confirm } from '../libs/cb-theme'
import { inject, nextTick, watch } from '@vue/runtime-core'

import dayjs from 'dayjs'

export default {
  components: {
    ChevronLeftIcon,
    CheckIcon,
    DotsVerticalIcon,
    VoteCalendar,
    CopyBlock,
    InitializeComp,
  },

  setup() {
    const route = useRoute()
    const router = useRouter()
    const actId = route.query.actId

    const hasEdited = ref(false)
    const goBack = (check_required) => {
      if (check_required && hasEdited.value) {
        cb_confirm('確定不儲存嗎？')
          .then(() => {
            router.push({ name: 'ActivityHome', query: { actId } })
          })
          .catch(() => {})
      } else {
        router.push({ name: 'ActivityHome', query: { actId } })
      }
    }
    const calendarRef = ref(null)

    const UserStore = inject('UserStore')
    const resId = computed(() => UserStore.state.resId)
    const response = computed(() => UserStore.state.response)

    const username = ref('')
    const userResonseContent = ref({})
    watch(
      response,
      () => {
        username.value = UserStore.state.response?.username
        userResonseContent.value = UserStore.state.response?.content
      },
      {
        immediate: true,
      }
    )

    const userVotePreview = computed(() => {
      if (!userResonseContent.value) return

      let userRes = {
        有空: [],
        可能: [],
        沒空: [],
        未填: [],
      }
      if (userResonseContent.value) {
        for (let [dateKey, stateScore] of Object.entries(
          userResonseContent.value
        )) {
          let dateText = dayjs(dateKey, 'YYYYMMDD').format('MM/DD')
          if (stateScore === 0) {
            userRes['沒空'].push(dateText)
          } else if (stateScore === 1) {
            userRes['可能'].push(dateText)
          } else if (stateScore === 2) {
            userRes['有空'].push(dateText)
          } else {
            userRes['未填'].push(dateText)
          }
        }
      }
      return userRes
    })

    const nameWarning = ref(false)
    watch(username, () => {
      nameWarning.value = false
    })
    const submit = () => {
      if (!username.value) {
        nameWarning.value = true
        cb_alert('請填入名稱')
        return
      }
      UserStore.submitResponse(actId, resId.value, {
        username: username.value,
        content: calendarRef.value.result,
      }).then(() => {
        goBack()
      })
    }

    const ActivityStore = inject('ActivityStore')
    const dateProposals = computed(
      () => ActivityStore.state.actInfo?.dateProposals
    )
    if (actId) {
      ActivityStore.fetchActivityInfo(actId).catch(() => {
        router.replace({ name: 'Invalid' })
      })
    } else {
      router.replace({ name: 'Invalid' })
    }

    const isExpired = computed(() => ActivityStore.state.restTime < 0)
    watch(isExpired, () => {
      if (isExpired.value) {
        cb_alert('此活動已截止').then(() => {
          router.replace({ name: 'ActivityHome', query: { actId } })
        })
      }
    })

    const menuVis = ref(false)
    const importVis = ref(false)
    const resIdInput = ref(null)
    const inputResId = ref('')
    watch(importVis, (_vis) => {
      if (_vis) {
        nextTick(() => {
          resIdInput.value.focus()
        })
      }
    })
    const submitImport = (ok) => {
      let _resId = inputResId.value.trim()
      if (ok) {
        UserStore.fetchResponse(actId, _resId)
          .then(() => {
            UserStore.saveResponseId(actId, _resId)
          })
          .catch(() => {
            cb_alert('無效的紀錄 ID')
          })
      }
      menuVis.value = false
    }

    return {
      goBack,
      calendarRef,
      username,
      resId,
      nameWarning,
      submit,
      dateProposals,
      response,
      importVis,
      resIdInput,
      inputResId,
      submitImport,
      menuVis,
      userResonseContent,
      userVotePreview,
      hasEdited,
      isExpired,
    }
  },
}
</script>

<style></style>
