<template>
  <div
    id="copy_btn"
    class="flex items-center gap-1 cursor-pointer hover:opacity-60"
    :data-clipboard-text="content"
  >
    {{ content }}
    <DocumentDuplicateIcon
      v-if="!is_copied"
      class="w-4 h-4"
    ></DocumentDuplicateIcon>
    <CheckCircleIcon v-else class="w-4 h-4"></CheckCircleIcon>
  </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import Clipboard from 'clipboard'
import { DocumentDuplicateIcon, CheckCircleIcon } from '@heroicons/vue/outline'

export default {
  components: {
    DocumentDuplicateIcon,
    CheckCircleIcon,
  },

  props: ['content'],

  setup() {
    let clipboard = new Clipboard(`#copy_btn`)

    const is_copied = ref(false)

    clipboard.on('success', function (e) {
      if (!is_copied.value) {
        is_copied.value = true
        setTimeout(() => {
          is_copied.value = false
        }, 1000)
      }

      e.clearSelection()
    })

    return {
      is_copied,
    }
  },
}
</script>

<style></style>
