<template>
  <div v-show="actLoading || resLoading" class="fixed inset-0 z-9 bg-gray-50">
    <div class="center">
      <div
        class="
          loader_rotate
          h-12
          w-12
          border-6 border-gray-300 border-t-gray-600
        "
      ></div>
    </div>
  </div>
</template>

<script>
import { inject, ref } from '@vue/runtime-core'
import { useRoute, useRouter } from 'vue-router'

export default {
  setup() {
    const ActivityStore = inject('ActivityStore')
    const UserStore = inject('UserStore')

    const route = useRoute()
    const router = useRouter()
    const actId = route.query?.actId

    const actLoading = ref(true)
    const resLoading = ref(false)

    if (actId) {
      ActivityStore.fetchActivityInfo(actId)
        .catch(() => {
          router.replace({ name: 'Invalid' })
        })
        .finally(() => {
          actLoading.value = false
        })

      UserStore.getResponseId(actId).then((resId) => {
        if (resId) {
          UserStore.fetchResponse(actId, resId).finally(() => {
            resLoading.value = false
          })
        }
      })
    } else {
      router.replace({ name: 'Home' })
    }

    return {
      actLoading,
      resLoading,
    }
  },
}
</script>

<style></style>
