<template>
  <div class="border rounded overflow-hidden">
    <div
      class="
        relative
        text-white
        bg-primary
        text-center
        px-4
        flex
        items-center
        justify-center
        gap-4
      "
    >
      <div
        class="flex-1 py-3 flex justify-end cursor-pointer group"
        @click="changeSwiperMonth(-1)"
      >
        <ChevronLeftIcon
          class="w-5 h-5 font-bold group-hover:text-primary-heavy"
        ></ChevronLeftIcon>
      </div>
      <div>{{ getMonthName(currMonth) }} {{ currYear }}</div>
      <div
        class="flex-1 py-3 flex justify-start cursor-pointer group"
        @click="changeSwiperMonth(1)"
      >
        <ChevronRightIcon
          class="w-5 h-5 font-bold group-hover:text-primary-heavy"
        ></ChevronRightIcon>
      </div>
    </div>
    <div class="min-h-344px">
      <swiper
        :modules="modules"
        :initialSlide="initialMonthNum"
        virtual
        @swiper="setswiperIns"
        @transitionEnd="ontransitionEnd"
        @slideChange="changeCurr"
        @VirtualUpdate=""
        class="w-full flex-shrink-0"
      >
        <swiper-slide
          v-for="(monthWeeks, index) in months"
          :key="index"
          :virtualIndex="index"
        >
          <table class="w-full min-h-344px">
            <thead>
              <tr class="cursor-default">
                <th class="pt-4 pb-6">一</th>
                <th class="pt-4 pb-6">二</th>
                <th class="pt-4 pb-6">三</th>
                <th class="pt-4 pb-6">四</th>
                <th class="pt-4 pb-6">五</th>
                <th class="pt-4 pb-6">六</th>
                <th class="pt-4 pb-6">日</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(week, weekIdx) in monthWeeks" :key="weekIdx" class="">
                <td
                  v-for="(dateInfo, dayIdx) in week"
                  :key="dayIdx"
                  class="
                    py-4
                    text-center
                    cursor-pointer
                    hover:text-primary-heavy
                    transition
                  "
                  :class="getDateStyle(dateInfo)"
                  @click="clickDate(dateInfo)"
                >
                  <div class="w-8 h-8 mx-auto p-1 rounded-full">
                    {{ dateInfo.date.format('D') }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import {
  ChevronLeftIcon,
  ChevronRightIcon,
  XCircleIcon,
} from '@heroicons/vue/outline'

import { Swiper, SwiperSlide } from 'swiper/vue'
import { Virtual } from 'swiper'
import 'swiper/css'

import dayjs from 'dayjs'
import weekday from 'dayjs/plugin/weekday'
dayjs.extend(weekday)

export default {
  components: {
    ChevronLeftIcon,
    ChevronRightIcon,
    XCircleIcon,
    Swiper,
    SwiperSlide,
  },

  props: {
    getDateStyle: {
      type: Function,
      default: () => {
        return ''
      },
    },
  },

  emits: ['clickDate'],

  setup(props, { emit }) {
    const getDateStyle = (dateInfo) => {
      let style = props.getDateStyle(dateInfo)
      if (dateInfo.date.month() !== currMonth.value) {
        style += ' text-gray-300'
      }
      if (dateInfo.key === dayjs().format('YYYYMMDD')) {
        style += ' text-primary font-bold'
      }
      return style
    }

    const clickDate = (dateInfo) => {
      emit('clickDate', dateInfo)
    }

    let initialDate = dayjs().startOf('month')
    const currYear = ref(initialDate.year())
    const currMonth = ref(initialDate.month())

    const getMonthName = (month) => {
      return [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec',
      ][month]?.toUpperCase()
    }

    const getMonthWeeks = (monthNum) => {
      let weekList = []
      let from = initialDate.add(monthNum, 'month')
      let to = from.endOf('month')

      for (
        let _iDate = from;
        _iDate.isBefore(to);
        _iDate = _iDate.add(7, 'day')
      ) {
        let _dateList = []
        for (let idx = 1; idx < 8; idx++) {
          let num = idx
          if (_iDate.day() === 0) {
            num -= 7
          }
          let _date = _iDate.weekday(num)
          let _dateKey = _date.format('YYYYMMDD')
          _dateList.push({
            date: _date,
            key: _dateKey,
          })
        }
        weekList.push(_dateList)
      }

      return weekList
    }

    const monthBuffer = 3
    let appMonthNum = monthBuffer
    let prepMonthNum = -monthBuffer
    const months = ref(
      Array(2 * monthBuffer + 1)
        .fill(1)
        .map((v, idx) => getMonthWeeks(idx - monthBuffer))
    )

    let swiperIns = null
    const setswiperIns = (swiper) => {
      swiperIns = swiper
    }

    const appendMonths = () => {
      let newMonths = Array(monthBuffer)
        .fill(1)
        .map((v, idx) => getMonthWeeks(appMonthNum + (idx + 1)))
      months.value = [...months.value, ...newMonths]
      appMonthNum += monthBuffer
    }

    const prependMonths = () => {
      let newMonths = Array(monthBuffer)
        .fill(1)
        .map((v, idx) => getMonthWeeks(prepMonthNum - (idx + 1)))
        .reverse()
      months.value = [...newMonths, ...months.value]
      prepMonthNum -= monthBuffer
      swiperIns.slideTo(swiperIns.activeIndex + monthBuffer, 0)
    }

    const ontransitionEnd = () => {
      if (swiperIns) {
        if (swiperIns.activeIndex === 1) {
          prependMonths()
        } else if (swiperIns.activeIndex === months.value.length - 2) {
          appendMonths()
        }
      }
    }

    const changeCurr = () => {
      if (swiperIns) {
        let currDate = months.value[swiperIns.activeIndex][1][0].date
        currYear.value = currDate.year()
        currMonth.value = currDate.month()
      }
    }

    const changeSwiperMonth = (val) => {
      swiperIns.slideTo(swiperIns.activeIndex + val, 300)
    }

    return {
      getDateStyle,
      clickDate,
      getMonthName,
      currYear,
      currMonth,
      months,
      modules: [Virtual],
      swiperIns: null,
      setswiperIns,
      initialMonthNum: monthBuffer,
      ontransitionEnd,
      changeCurr,
      changeSwiperMonth,
    }
  },
}
</script>

<style></style>
