<template>
  <div class="my-4">
    <div class="flex items-end justify-between px-2">
      <div class="flex items-end">
        <cb-radio v-model="selectedTab" value="choice">
          <div
            class="text-sm text-gray-400 border border-b-transparent rounded-t py-1 px-4 cursor-pointer hover:text-primary-heavy peer-checked:(text-primary text-base font-bold)"
          >
            選項
          </div>
        </cb-radio>
        <cb-radio v-model="selectedTab" value="calendar">
          <div
            class="text-sm text-gray-400 border border-b-transparent rounded-t py-1 px-4 cursor-pointer hover:text-primary-heavy peer-checked:(text-primary text-base font-bold)"
          >
            月曆
          </div>
        </cb-radio>
      </div>
      <div class="text-sm text-gray-500 py-1 flex items-center gap-1">
        <InformationCircleIcon class="w-3 h-3"></InformationCircleIcon>
        多次點擊以選擇狀態
      </div>
    </div>
    <div>
      <!-- calendar -->
      <div v-show="selectedTab === 'calendar'" class="border rounded">
        <div
          class="relative text-white bg-primary text-center px-4 flex items-center justify-center gap-4"
        >
          <div
            class="flex-1 py-3 flex justify-end cursor-pointer group"
            @click="changeSwiperMonth(-1)"
          >
            <ChevronLeftIcon
              class="w-5 h-5 font-bold group-hover:text-primary-heavy"
            ></ChevronLeftIcon>
          </div>
          <div>{{ getMonthName(currMonth) }} {{ currYear }}</div>
          <div
            class="flex-1 py-3 flex justify-start cursor-pointer group"
            @click="changeSwiperMonth(1)"
          >
            <ChevronRightIcon
              class="w-5 h-5 font-bold group-hover:text-primary-heavy"
            ></ChevronRightIcon>
          </div>
        </div>
        <div class="min-h-344px">
          <swiper
            :modules="modules"
            :initialSlide="initialMonthNum"
            virtual
            @swiper="setswiperIns"
            @transitionEnd="ontransitionEnd"
            @slideChange="changeCurr"
            @VirtualUpdate=""
            class="w-full flex-shrink-0"
          >
            <swiper-slide
              v-for="(monthWeeks, index) in months"
              :key="index"
              :virtualIndex="index"
            >
              <table class="w-full min-h-344px">
                <thead>
                  <tr class="cursor-default">
                    <th class="pt-4 pb-6">一</th>
                    <th class="pt-4 pb-6">二</th>
                    <th class="pt-4 pb-6">三</th>
                    <th class="pt-4 pb-6">四</th>
                    <th class="pt-4 pb-6">五</th>
                    <th class="pt-4 pb-6">六</th>
                    <th class="pt-4 pb-6">日</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(week, weekIdx) in monthWeeks"
                    :key="weekIdx"
                    class=""
                  >
                    <td
                      v-for="(dateInfo, dayIdx) in week"
                      :key="dayIdx"
                      class="py-4 text-center cursor-pointer hover:text-primary-heavy"
                      :class="[
                        isDisabled(dateInfo.key)
                          ? 'bg-gray-100'
                          : getCalendarStyle(result[dateInfo.key]),
                        isToday(dateInfo.key)
                          ? 'text-primary font-bold'
                          : isInThisMonth(dateInfo.date)
                          ? ''
                          : 'text-gray-300',
                      ]"
                      @click="switchDateState(dateInfo.key)"
                    >
                      {{ dateInfo.date.format('D') }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </swiper-slide>
          </swiper>
        </div>
      </div>

      <!-- choices -->
      <div
        v-show="selectedTab === 'choice'"
        class="grid_list w-full border rounded p-2 gap-2"
      >
        <template v-for="(state, dateKey) in result">
          <div
            class="text-center border rounded py-2 px-4 cursor-pointer hover:opacity-70"
            :class="getChoiceStyle(state)"
            @click="switchDateState(dateKey)"
          >
            {{ reformat(dateKey) }}
          </div>
        </template>
      </div>
    </div>
  </div>

  <!-- btns -->
  <div class="w-full mb-6 flex flex-wrap gap-1 md:gap-4">
    <button
      class="flex-1 text-sm flex items-center justify-center gap-1 whitespace-nowrap border border-free-200 text-free-600 hover:bg-free-50"
      @click="setAll(2)"
    >
      全設有空<EmojiHappyIcon class="w-5 h-5"></EmojiHappyIcon>
    </button>
    <button
      class="flex-1 text-sm flex items-center justify-center gap-1 whitespace-nowrap border border-maybe-200 text-maybe-600 hover:bg-maybe-50"
      @click="setAll(1)"
    >
      全設可能<QuestionMarkCircleIcon class="w-5 h-5"></QuestionMarkCircleIcon>
    </button>
    <button
      class="flex-1 text-sm flex items-center justify-center gap-1 whitespace-nowrap border border-occupied-200 text-occupied-600 hover:bg-occupied-50"
      @click="setAll(0)"
    >
      全設沒空<EmojiSadIcon class="w-5 h-5"></EmojiSadIcon>
    </button>
    <button
      class="flex-1 text-sm flex items-center justify-center gap-1 whitespace-nowrap border hover:bg-gray-50"
      @click="setAll(null)"
    >
      全部清空<XCircleIcon class="w-5 h-5"></XCircleIcon>
    </button>
  </div>
</template>

<script>
import { reactive, ref, watch } from 'vue'

import {
  ChevronLeftIcon,
  ChevronRightIcon,
  XCircleIcon,
  EmojiHappyIcon,
  EmojiSadIcon,
  QuestionMarkCircleIcon,
  InformationCircleIcon,
} from '@heroicons/vue/outline'

import { Swiper, SwiperSlide } from 'swiper/vue'
import { Virtual } from 'swiper'
import 'swiper/css'

import dayjs from 'dayjs'
import weekday from 'dayjs/plugin/weekday'
dayjs.extend(weekday)

export default {
  components: {
    ChevronLeftIcon,
    ChevronRightIcon,
    XCircleIcon,
    EmojiHappyIcon,
    EmojiSadIcon,
    QuestionMarkCircleIcon,
    InformationCircleIcon,
    Swiper,
    SwiperSlide,
  },

  props: {
    enabledDates: {},
    record: {
      default: {},
    },
  },

  emits: ['update:record', 'change'],

  setup(props, { emit }) {
    const getCalendarStyle = (state) => {
      switch (state) {
        case 2:
          return 'bg-free-100'
        case 1:
          return 'bg-maybe-100'
        case 0:
          return 'bg-occupied-100'
        default:
          return 'bg-transparent'
      }
    }
    const getChoiceStyle = (state) => {
      switch (state) {
        case 2:
          return 'border-free-200 text-free-600 bg-free-100 '
        case 1:
          return 'border-maybe-200 text-maybe-600 bg-maybe-100 '
        case 0:
          return 'border-occupied-200 text-occupied-600 bg-occupied-100 '
        default:
          return 'border-gray-200 text-gray-600 bg-white-100 '
      }
    }

    const isToday = (dateKey) => {
      return dateKey === dayjs().format('YYYYMMDD')
    }
    const isInThisMonth = (date) => date.month() === currMonth.value
    const isDisabled = (dateKey) =>
      props.enabledDates?.length && !props.enabledDates.includes(dateKey)

    const getMonthName = (month) => {
      return [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec',
      ][month].toUpperCase()
    }

    const toChWeek = (day) => {
      switch (day) {
        case 0:
          return '日'
        case 1:
          return '一'
        case 2:
          return '二'
        case 3:
          return '三'
        case 4:
          return '四'
        case 5:
          return '五'
        case 6:
          return '六'
      }
    }

    let initialDate = null
    const result = reactive({ ...props.record })
    if (props.enabledDates?.length) {
      let sortedDates = [...props.enabledDates].sort()
      initialDate = dayjs(sortedDates[0], 'YYYYMMDD').startOf('month')

      for (let dateKey of props.enabledDates) {
        if (result[dateKey] === undefined) {
          result[dateKey] = null
        }
      }
      emit('update:record', result)
    } else {
      initialDate = dayjs().startOf('month')
    }

    watch(
      () => props.record,
      (_record) => {
        for (let [key, value] of Object.entries(_record)) {
          result[key] = value
        }
      }
    )
    const switchDateState = (dateKey) => {
      if (!isDisabled(dateKey)) {
        if (result[dateKey] == undefined) {
          result[dateKey] = 2
        } else if (result[dateKey] === 0) {
          result[dateKey] = null
        } else {
          result[dateKey] = (result[dateKey] - 1) % 3
        }
        afterEdit()
      }
    }

    const reformat = (dateKey) => {
      let date = dayjs(dateKey, 'YYYYMMDD')
      return `${date.format('MM/DD')} (${toChWeek(date.day())})`
    }

    const currYear = ref(initialDate.year())
    const currMonth = ref(initialDate.month())

    const getMonthWeeks = (monthNum) => {
      let weekList = []
      let from = initialDate.add(monthNum, 'month')
      let to = from.endOf('month')

      for (
        let _iDate = from;
        _iDate.isBefore(to);
        _iDate = _iDate.add(7, 'day')
      ) {
        let _dateList = []
        for (let idx = 1; idx < 8; idx++) {
          let num = idx
          if (_iDate.day() === 0) {
            num -= 7
          }
          let _date = _iDate.weekday(num)
          let _dateKey = _date.format('YYYYMMDD')
          _dateList.push({
            date: _date,
            key: _dateKey,
          })
        }
        weekList.push(_dateList)
      }

      return weekList
    }

    const monthBuffer = 3
    let appMonthNum = monthBuffer
    let prepMonthNum = -monthBuffer
    const months = ref(
      Array(2 * monthBuffer + 1)
        .fill(1)
        .map((v, idx) => getMonthWeeks(idx - monthBuffer))
    )

    let swiperIns = null
    const setswiperIns = (swiper) => {
      swiperIns = swiper
    }

    const appendMonths = () => {
      let newMonths = Array(monthBuffer)
        .fill(1)
        .map((v, idx) => getMonthWeeks(appMonthNum + (idx + 1)))
      months.value = [...months.value, ...newMonths]
      appMonthNum += monthBuffer
    }

    const prependMonths = () => {
      let newMonths = Array(monthBuffer)
        .fill(1)
        .map((v, idx) => getMonthWeeks(prepMonthNum - (idx + 1)))
        .reverse()
      months.value = [...newMonths, ...months.value]
      prepMonthNum -= monthBuffer
      swiperIns.slideTo(swiperIns.activeIndex + monthBuffer, 0)
    }

    const ontransitionEnd = () => {
      if (swiperIns) {
        if (swiperIns.activeIndex === 1) {
          prependMonths()
        } else if (swiperIns.activeIndex === months.value.length - 2) {
          appendMonths()
        }
      }
    }

    const changeCurr = () => {
      if (swiperIns) {
        let currDate = months.value[swiperIns.activeIndex][1][0].date
        currYear.value = currDate.year()
        currMonth.value = currDate.month()
      }
    }

    const changeSwiperMonth = (val) => {
      swiperIns.slideTo(swiperIns.activeIndex + val, 300)
    }

    const setAll = (val) => {
      for (let [key, value] of Object.entries(result)) {
        result[key] = val
      }
      afterEdit()
    }

    const afterEdit = () => {
      emit('change')
      emit('update:record', result)
    }

    return {
      getCalendarStyle,
      getChoiceStyle,
      isToday,
      isInThisMonth,
      isDisabled,
      result,
      switchDateState,
      currYear,
      currMonth,
      getMonthName,
      reformat,

      months,
      modules: [Virtual],
      swiperIns: null,
      setswiperIns,
      initialMonthNum: monthBuffer,
      ontransitionEnd,
      changeCurr,
      changeSwiperMonth,
      setAll,
      selectedTab: ref('choice'),
    }
  },
}
</script>

<style lang="postcss" scoped>
.grid_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
</style>
