<template>
  <router-view />
</template>

<script>
import { useUserStore } from './compositions/store/UserStore'
import { useActivityStore } from './compositions/store/ActivityStore'

export default {
  setup(props) {
    useUserStore()
    useActivityStore()
  },
}
</script>
